<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.seat.SeatMapper">
	
	<resultMap type="com.hy.dto.seat.Seat" id="seatResultMap">
		<result property="seatId" column="seat_id"/>
		<result property="memberNo" column="member_no"/>
		<result property="seatStatus" column="seat_status"/>
	</resultMap>
	
	<update id="updateSeatStatus">
    UPDATE seat
    SET member_no = #{memberNo},
        seat_status = #{seatStatus}
    WHERE seat_id = #{seatId}
	</update>
	
	<select id="selectAllSeat" resultMap="seatResultMap">
		SELECT *
		FROM seat
	</select>
	
	<update id="useSeat" parameterType="com.hy.dto.seat.Seat" >
		UPDATE seat
		SET member_no = #{memberNo} ,seat_status = 0
		WHERE seat_id = #{seatId} AND seat_status = 1
	</update>
	
	<update id="cancelSeat" parameterType="com.hy.dto.seat.Seat" >
		UPDATE seat
		SET member_no = null ,seat_status = 1
		WHERE member_no = #{memberNo}
	</update>
	
	<select id="selectSeatByMember" parameterType="int" resultMap="seatResultMap">
		SELECT * FROM seat WHERE member_no = #{memberNo}
	</select>
	
	<select id="selectAllFixedSeatMembers" resultType="com.hy.dto.seat.FixedSeatMemberView">
    SELECT 
        m.member_no,
        m.member_name,
        m.member_grade,
        m.member_school,
        m.member_penalty,
        m.member_seat AS seat_no
    FROM member m
    JOIN fixed_seat f ON m.member_no = f.member_no
    WHERE m.active_status = 1
	</select>

</mapper>