<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hy.mapper.tablet.TabletMapper">

<resultMap id="TabletResultMap" type="com.hy.dto.tablet.Tablet">
    <id property="tabletId" column="tablet_id"/>
    <result property="tabletAvailable" column="tablet_available"/>
    <result property="memberNo" column="member_no"/>
    <result property="memberName" column="member_name"/>
</resultMap>

	<!-- 태블릿 전체 데이터 조회 -->
	<select id="selectAll" resultMap="TabletResultMap">
    SELECT * FROM tablet
	</select>
	
	<!-- 태블릿 로그 전체 조회 -->
	<select id="selectAllTabletLog" resultType="com.hy.dto.tablet.TabletLog">
    SELECT * FROM tablet_log
    ORDER BY tablet_log_id DESC
	</select>
  
  <!-- 태블릿 사용 -->
	<update id="useTablet">
    UPDATE tablet
    JOIN (
        SELECT tablet_id
        FROM tablet
        WHERE tablet_available = 0
        ORDER BY tablet_id ASC
        LIMIT 1
    ) t2 ON tablet.tablet_id = t2.tablet_id
    SET tablet.tablet_available = 1,
        tablet.member_no = #{memberNo}
	</update>
	
	<!-- 태블릿 반납 -->
	<update id="returnTablet">
    UPDATE tablet
    SET tablet_available = 0, member_no = NULL
    WHERE tablet_id = #{tabletId} AND member_no = #{memberNo}
	</update>
  
	<insert id="insertTabletLog">
	    INSERT INTO tablet_log (member_no, tablet_status)
	    VALUES (#{memberNo}, #{tabletStatus})
	</insert>
	
	<!-- 태블릿 & 멤버 데이터 조회 (태블릿 관리자 사용현황 확인용) -->
	<select id="selectAllTabletMemberName" resultMap="TabletResultMap">
		SELECT t.tablet_id,
			m.member_no,
			m.member_name,
			t.tablet_available
		FROM tablet t
		JOIN member m ON t.member_no = m.member_no 
	</select>
	
	<!-- 패널티 추가 -->
	<update id="updatePenalty" parameterType="_int">
		UPDATE member
		SET member_penalty = member_penalty + 1
		<where>
		member_no = #{memberNo}
		</where>
	</update>
	
</mapper>