<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.qna.QnaMapper">
	<resultMap id="qnaResultMap" type="com.hy.dto.qna.Qna">
      <result property="qnaId" column="qna_id" />
      <result property="memberId" column="member_id" />
      <result property="category" column="category" />
      <result property="title" column="title" />
      <result property="content" column="content" />
      <result property="regDate" column="reg_date" />
      <result property="modDate" column="mod_date" />
      <result property="visibility" column="visibility" />
      <result property="viewCount" column="view_count" />
      <result property="answerStatus" column="answer_status" />
	</resultMap>
	
 	<resultMap id="attachResultMap" type="com.hy.dto.qna.Attach">
      <result property="qnaAttachId" column="qna_attach_id" />
      <result property="qnaId" column="qna_id" />
      <result property="oriName" column="ori_name" />
      <result property="reName" column="re_name" />
      <result property="path" column="re_name" />
	</resultMap>
	
	<select id="selectQnaList" resultMap="qnaResultMap" parameterType="com.hy.dto.qna.Qna">
		SELECT Q.qna_id
			,Q.category
			,Q.title 
			,Q.content 
			,DATE_FORMAT(Q.reg_date, '%Y-%m-%d') AS reg_date
			,DATE_FORMAT(Q.mod_date, '%Y-%m-%d') AS mod_date 
			,Q.visibility
			,Q.view_count
			,Q.answer_status
			,M.member_id
		FROM qna Q 
		JOIN member M ON Q.member_no = M.member_no
		<where>
			<choose>
				<when test='keywordIn == "구분"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
					</if>
				</when>
				<when test='keywordIn == "작성자"'>
					<if test='keyword != null and keyword != ""'>
						M.member_id LIKE CONCAT('%',#{keyword}, '%')
					</if>
				</when>
				<when test='keywordIn == "제목"'>
					<if test='keyword != null and keyword != ""'>
						Q.title LIKE CONCAT('%',#{keyword}, '%')
					</if>
				</when>
			</choose>
		</where>
		ORDER BY Q.qna_id DESC
		LIMIT #{limitPageNo},#{numPerPage}
	</select>
				
	<select id="selectQnaCount" resultType="_int" parameterType="com.hy.dto.qna.Qna">
		SELECT COUNT(*) 
		FROM qna Q
		JOIN member M ON Q.member_no = M.member_no
 		<where>
			<choose>
				<when test='keywordIn == "구분"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
					</if>
				</when>
				<when test='keywordIn == "작성자"'>
					<if test='keyword != null and keyword != ""'>
						M.member_id LIKE CONCAT('%',#{keyword}, '%')
					</if>
				</when>
				<when test='keywordIn == "제목"'>
					<if test='keyword != null and keyword != ""'>
						Q.title LIKE CONCAT('%',#{keyword}, '%')
					</if>
				</when>
			</choose>
		</where>
	</select>
	
	<select id="selectQnaOne" resultMap="qnaResultMap" parameterType="_int">
		SELECT Q.qna_id
			,Q.category
			,Q.title 
			,Q.content 
			,DATE_FORMAT(Q.reg_date, '%Y-%m-%d') AS reg_date
			,DATE_FORMAT(Q.mod_date, '%Y-%m-%d') AS mod_date 
			,Q.visibility
			,Q.view_count
			,Q.answer_status
			,M.member_id
		FROM qna Q
		JOIN member M On Q.member_no = M.member_no
		<where>
			qna_id = #{qnaNo}			
		</where>
	</select>
	
	<update id="updateViewCount" parameterType="_int">
		UPDATE qna
		SET view_count = view_count + 1
		<where>
		qna_id = #{qnaId}				
		</where>	
	</update>
	
	<update id="updateQna" parameterType="com.hy.dto.qna.Qna">
		UPDATE qna
		SET category = #{category},
			visibility = #{visibility},
			title = #{title},
			content = #{content}
		WHERE qna_id = #{qnaId}			
	</update>
	
	<delete id="deleteQna" parameterType="_int">
		DELETE FROM qna
		<where>
		qna_id = #{qnaId}
		</where>
	</delete>
	
	<select id="selectAttachByQnaNo" resultMap="attachResultMap" parameterType="_int">
		SELECT *
		FROM qna_attach
		<where>
			qna_id = #{qnaId}	
		</where>
	</select>
	
	<select id="selectAttachByAttachNo" resultMap="attachResultMap" parameterType="_int">
		SELECT *
		FROM qna_attach
		<where>
			qna_attach_id = #{qnaAttachId}	
		</where>
	</select>
	
	<insert id="insertQna" parameterType="com.hy.dto.qna.Qna" useGeneratedKeys="true" keyProperty="qnaId">
		INSERT INTO qna(category ,title ,content ,member_no)
		VALUES (#{category} ,#{title} ,#{content} ,#{memberNo})
	</insert>
	

	<insert id="insertAttach" parameterType="com.hy.dto.qna.Attach">
		INSERT INTO qna_attach(qna_id ,ori_name ,re_name ,path)
		VALUES (#{qnaId} ,#{oriName} ,#{reName} ,#{path})
	</insert>
</mapper>
