<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hy.mapper.qna.QnaAdminMapper">

	<resultMap id="QnaAdminMapper" type="com.hy.dto.qna.QnaReply">
		<!-- QnaReply 필드 -->
		<id property="qnaReplyId" column="qna_reply_id" />
		<result property="qnaId" column="qna_id" />
		<result property="replyCheck" column="reply_check" />
		<result property="content" column="reply_content" />
		<result property="regDate" column="reply_reg_date" />
		<result property="modDate" column="reply_mod_date" />

		<!-- Qna(원글) + Member(작성자) 정보 -->
		<association property="qna" javaType="com.hy.dto.qna.Qna">
			<id property="qnaId" column="qna_id" />
			<result property="category" column="category" />
			<result property="title" column="title" />
			<result property="content" column="content" />
			<result property="memberNo" column="memberNo" />
			<result property="regDate" column="qna_reg_date" />
			<result property="modDate" column="qna_mod_date" />
			<result property="visibility" column="visibility" />
			<result property="viewCount" column="view_count" />
			<result property="answerStatus" column="answer_status" />
			<!-- Member 정보: 아이디, 이름 -->
			<result property="memberId" column="memberId" />
			<result property="memberName" column="memberName" />
		</association>
	</resultMap>

	<resultMap id="QnaReplyOnlyMap"
		type="com.hy.dto.qna.QnaReply">
		<id property="qnaReplyId" column="qna_reply_id" />
		<result property="qnaId" column="qna_id" />
		<result property="replyCheck" column="reply_check" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>

	<resultMap id="QnaMapper" type="com.hy.dto.qna.Qna">
		<id property="qnaId" column="qna_id" />
		<result property="memberId" column="member_id" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
		<result property="visibility" column="visibility" />
		<result property="viewCount" column="view_count" />
		<result property="answerStatus" column="answer_status" />
		<result property="memberNo" column="member_no" />
		<result property="memberName" column="member_name" />

		<!-- ↓ 첨부파일용 필드 매핑 -->
		<result property="qnaAttachId" column="attach_id" />
		<result property="attachOriName" column="ori_name" />
		<result property="attachSaveName" column="save_name" />
		<result property="attachFileSize" column="file_size" />
	</resultMap>

	<!-- 게시글 목록 조회 -->
	<select id="selectAll" resultMap="QnaAdminMapper">
		SELECT
		q.qna_id,
		q.category,
		q.title,
		q.content AS qna_content,
		q.member_no,
		q.reg_date AS qna_reg_date,
		q.mod_date AS qna_mod_date,
		q.visibility,
		q.view_count,
		q.answer_status,
		m.member_id AS memberId,
		m.member_name AS memberName,
		r.qna_reply_id,
		r.reply_check,
		r.content AS
		reply_content,
		r.reg_date AS reply_reg_date,
		r.mod_date AS
		reply_mod_date
		FROM qna q
		LEFT JOIN member m ON q.member_no =
		m.member_no
		LEFT JOIN qna_reply r ON q.qna_id = r.qna_id
		<where>
			<if test="category != null and category != ''">
				q.category = #{category}
			</if>
			<if
				test="keyword != null and keyword != '' and searchType != null and searchType != ''">
				<choose>
					<when test="searchType == 'title'">
						AND q.title LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'content'">
						AND q.content LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'memberId'">
						AND m.member_id LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test="searchType == 'memberName'">
						AND m.member_name LIKE CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</if>
		</where>
		ORDER BY q.qna_id DESC
	</select>

	<!-- 답글 목록 조회 -->
	<select id="selectReplyList" parameterType="int"
		resultMap="QnaReplyOnlyMap">
		SELECT * FROM qna_reply WHERE qna_id = #{qnaId}
	</select>

	<!-- 답글 단일 조회 -->
	<select id="selectReplyOne" parameterType="int"
		resultMap="QnaReplyOnlyMap">
		SELECT * FROM qna_reply WHERE qna_reply_id = #{value}
	</select>

	<!-- 관리자가 답글 등록 -->
	<insert id="insertReply" parameterType="com.hy.dto.qna.QnaReply">
		INSERT INTO qna_reply
		(qna_id, content, reply_check, reg_date)
		VALUES
		(#{qnaId}, #{content}, 1, NOW())
	</insert>

	<!-- answer_status 0으로 변경 -->
	<update id="updateAnswerStatusZero" parameterType="int">
		UPDATE qna
		SET
		answer_status = 0
		WHERE qna_id = #{qnaId}
	</update>

	<!-- 관리자가 답글 수정 -->
	<update id="updateReply" parameterType="com.hy.dto.qna.QnaReply">
		UPDATE qna_reply
		SET
		content = #{content}, mod_date = NOW(), reply_check = 1
		WHERE
		qna_reply_id = #{qnaReplyId}
	</update>

	<!-- 답글 삭제 -->
	<delete id="deleteReply" parameterType="int">
		DELETE FROM qna_reply
		WHERE qna_reply_id = #{value}
	</delete>

	<!-- 답글 삭제시 answer_status 1로 변경 -->
	<update id="updateAnswerStatusOne" parameterType="int">
		UPDATE qna
		SET
		answer_status = 1
		WHERE qna_id = #{qnaId}
	</update>

	<!-- 조회수 -->
	<update id="incrementViewCount" parameterType="int">
		UPDATE qna SET
		view_count = view_count + 1
		WHERE qna_id = #{qnaId}
	</update>

	<!-- 문의글 전체 개수를 세는 쿼리 -->
	<select id="countQna" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM qna
		WHERE 1=1
		<if test="category != null and category != ''">
			AND category = #{category}
		</if>
		<if test="searchType != null and keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'title'">
					AND title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'content'">
					AND qna_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'memberName'">
					AND member_name LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</select>

	<!-- 페이징 -->
	<select id="selectQnaListPaging" parameterType="map"
		resultMap="QnaMapper">
		SELECT
		q.qna_id, q.category, q.title, q.content,
		q.member_no,
		q.reg_date, q.mod_date, q.visibility, q.view_count, q.answer_status,
		m.member_id, m.member_name
		FROM qna q
		LEFT JOIN member m ON q.member_no
		= m.member_no
		WHERE 1=1
		ORDER BY qna_id
		DESC
		LIMIT #{limitPageNo},
		#{numPerPage}
	</select>


	<select id="selectQnaOne" parameterType="int"
		resultMap="QnaMapper">
		SELECT
		q.qna_id,
		q.member_id,
		q.category,
		q.title,
		q.content,
		q.reg_date,
		q.mod_date,
		q.visibility,
		q.view_count,
		q.answer_status,
		q.member_no,
		m.member_name,
		a.qna_attach_id AS attach_id,
		a.ori_name AS
		ori_name,
		a.save_name AS save_name,
		a.file_size AS file_size
		FROM qna q
		LEFT JOIN member m
		ON q.member_no = m.member_no
		LEFT JOIN qna_attach a
		ON q.qna_id = a.qna_id
		WHERE q.qna_id = #{value}
	</select>


</mapper>
