<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.QnaMapper">
	<resultMap id="qnaResultMap" type="com.hy.dto.qna.Qna">
      <result property="qnaId" column="qna_no" />
      <result property="memberNo" column="member_no" />
      <result property="category" column="category" />
      <result property="title" column="title" />
      <result property="content" column="content" />
      <result property="regDate" column="reg_date" />
      <result property="modDate" column="mod_date" />
      <result property="visibility" column="visibility" />
      <result property="viewCount" column="view_count" />
      <result property="answerStatus" column="answer_status" />
	</resultMap>
	
 	<resultMap id="attachResultMap" type="com.hy.dto.qna.Attach">
      <result property="qnaAttachId" column="qna_attach_id" />
      <result property="qnaId" column="qna_id" />
      <result property="oriName" column="ori_name" />
      <result property="reName" column="re_name" />
      <result property="path" column="re_name" />
	</resultMap>
	
	<select id="selectQnaList" resultMap="qnaResultMap" parameterType="com.hy.dto.qna.Qna">
		SELECT Q.qna_id
			,Q.category
			,Q.title 
			,Q.content 
			,DATE_FORMAT(Q.reg_date, '%Y-%m-%d') AS reg_date
			,DATE_FORMAT(Q.mod_date, '%Y-%m-%d') AS mod_date 
			,Q.visibility
			,Q.view_count
			,Q.answer_status
			,M.member_no
		FROM qna Q 
		JOIN member M ON Q.member_no = M.member_no
		<where>
			<if test='keyword != null and keyword != ""'>
				Q.qna_title LIKE CONCAT('%',#{keyword}, '%')			
				OR M.member_no LIKE CONCAT('%',#{keyword}, '%')
			</if>
		</where>
		LIMIT #{limitPageNo},#{numPerPage}
	</select>
	
	<select id="selectQnaOne" resultMap="qnaResultMap" parameterType="_int">
		SELECT Q.qna_id
			,Q.category
			,Q.title 
			,Q.content 
			,DATE_FORMAT(Q.reg_date, '%Y-%m-%d') AS reg_date
			,DATE_FORMAT(Q.mod_date, '%Y-%m-%d') AS mod_date 
			,Q.visibility
			,Q.view_count
			,Q.answer_status
			,M.member_no
		FROM qna Q
		JOIN member M On Q.member_no = M.member_no
		<where>
		qna_id = #{qnaNo}			
		</where>
	</select>
	
	<select id="selectAttachByQnaNo" resultMap="attachResultMap" parameterType="_int">
		SELECT *
		FROM attach
		<where>
			qna_id = #{qnaNo}	
		</where>
	</select>
	
	<select id="selectAttachByAttachNo" resultMap="attachResultMap" parameterType="_int">
		SELECT *
		FROM attach
		<where>
			attach_no = #{attachNo}	
		</where>
	</select>
			
	<select id="selectQnaCount" resultType="_int" parameterType="com.hy.dto.qna.Qna">
		SELECT COUNT(*) 
		FROM qna Q
		JOIN member M ON Q.member_no = M.member_no
 		<where>
			<if test='keyword != null and keyword != ""'>
				Q.title LIKE CONCAT('%',#{keyword}, '%')
				OR M.member_no LIKE CONCAT('%',#{keyword}, '%')
			</if>
		</where>
	</select>
	
	<insert id="insertQna" parameterType="com.hy.dto.qna.Qna" useGeneratedKeys="true" keyProperty="qnaNo">
		INSERT INTO qna(category ,title ,content)
		VALUES (#{category} ,#{title} ,#{content})
	</insert>
	
	<insert id="insertAttach" parameterType="com.hy.dto.qna.Attach">
		INSERT INTO attach(qna_attach_id ,ori_name ,re_name)
		VALUES (#{qnaAttachId} ,#{oriName} ,#{reName})
	</insert>
</mapper>
