<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.notice.NoticeMapper">

	<resultMap type="com.hy.dto.notice.Notice" id="noticeResultMap">
		<id property="noticeId" column="notice_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="viewCount" column="view_count"/>
		<result property="category" column="category"/>
		<result property="createAt" column="create_at"/>
		<result property="updateAt" column="update_at"/>
	</resultMap>
	
	<resultMap type="com.hy.dto.notice.NoticeAttach" id="noticeAttachResultMap">
		<id property="noticeAttachId" column="notice_attach_id"/>
		<result property="noticeId" column="notice_id"/>
		<result property="oriName" column="ori_name"/>
		<result property="reName" column="re_name"/>
		<result property="path" column="path"/>
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeResultMap" parameterType="com.hy.dto.notice.Notice">
		SELECT notice_id, title, content, view_count, category, DATE_FORMAT(create_at, '%Y-%m-%d') AS create_at, DATE_FORMAT(update_at, '%Y-%m-%d') AS update_at  
		FROM notice
		<where>
			<choose>
				<when test='searchCategory == ""'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
					</if>
				</when>
				<when test='searchCategory == "일반공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '일반공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '일반공지'
					</if>
				</when>
				<when test='searchCategory == "중요공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '중요공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '중요공지'
					</if>
				</when>
				<when test='searchCategory == "시설공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '시설공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '시설공지'
					</if>
				</when>
			</choose>
		</where>
		ORDER BY notice_id DESC
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="selectNoticeCount" parameterType="com.hy.dto.notice.Notice" resultType="_int">
		SELECT COUNT(*) FROM notice
		<where>
			<choose>
				<when test='searchCategory == ""'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
					</if>
				</when>
				<when test='searchCategory == "일반공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '일반공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '일반공지'
					</if>
				</when>
				<when test='searchCategory == "중요공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '중요공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '중요공지'
					</if>
				</when>
				<when test='searchCategory == "시설공지"'>
					<if test='keyword != null and keyword != ""'>
						title LIKE CONCAT('%',#{keyword},'%')
						AND
						category = '시설공지'
					</if>
					<if test='keyword != null and keyword == ""'>
						category = '시설공지'
					</if>
				</when>
			</choose>
		</where>
	</select>
	
	<select id="selectNoticeByNo" parameterType="_int" resultMap="noticeResultMap">
		SELECT * FROM notice WHERE notice_id = #{noticeId}
	</select>
	
	<insert id="insertNotice" parameterType="com.hy.dto.notice.Notice" useGeneratedKeys="true" keyProperty="noticeId">
		INSERT INTO notice (title, content, category) VALUES (#{title}, #{content}, #{category})
	</insert>
	
	<update id="updateNotice" parameterType="com.hy.dto.notice.Notice">
		UPDATE notice SET title = #{title} ,content = #{content} ,category=#{category}
		WHERE notice_id = #{noticeId}
	</update>
	
	<insert id="insertAttach" parameterType="com.hy.dto.notice.NoticeAttach">
		INSERT INTO notice_attach (notice_id, ori_name, re_name, path) VALUES (#{noticeId}, #{oriName}, #{reName}, #{path})
	</insert>
	
	<update id="updateAttach" parameterType="com.hy.dto.notice.NoticeAttach">
		UPDATE notice_attach SET ori_name = #{oriName} ,re_name = #{reName} ,path = #{path}
		WHERE notice_id = #{noticeId}
	</update>
	
	<delete id="deleteAttach" parameterType="com.hy.dto.notice.Notice">
		DELETE FROM notice_attach 
		WHERE notice_id = #{noticeId}
	</delete>
	
	<select id="selectAttachByNo" parameterType="_int" resultMap="noticeAttachResultMap">
		SELECT * FROM notice_attach WHERE notice_id = #{noticeId}
	</select>
	
	<delete id="deleteNotice" parameterType="_int">
		DELETE FROM notice WHERE notice_id = #{noticeId}
	</delete>
	
	<update id="updateViewCount" parameterType="_int">
		UPDATE notice SET view_count = view_count + 1
		WHERE notice_id = #{noticeId}
	</update>

</mapper>