<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.login.SignUpMapper">
	<resultMap id ="memberAccount" type = "com.hy.dto.Member">
		<result property="memberNo"  column = "member_no"/>
		<result property="userNo"  column = "user_no"/>
		<result property="memberId"  column = "member_id"/>
		<result property="memberName"  column = "member_name"/>
		<result property="memberPw"  column = "member_pw"/>
		<result property="memberPhone"  column = "member_phone"/>
		<result property="memberRrn"  column = "member_rrn"/>
		<result property="memberAddress"  column = "member_address"/>
		<result property="memberSchool"  column = "member_school"/>
		<result property="memberGrade"  column = "member_grade"/>
		<result property="memberSeat"  column = "member_seat"/>
		<result property="memberPenalty"  column = "member_penalty"/>
		<result property="registeredAt"  column = "registered_at"/>
		<result property="activeStatus"  column = "active_status"/>
	</resultMap>
	<resultMap id= "userInfo" type= "com.hy.dto.login.User">
	
		<result  property="userNo"  column = "user_no"/>
		<result  property="userName"  column = "user_name"/>
		<result  property="userRrn"  column = "user_rrn"/>
		<result  property="userSeat"  column = "user_seat"/>
	</resultMap>
<insert id="insertMember" parameterType="com.hy.dto.Member" useGeneratedKeys="true" keyProperty="memberNo" >
	INSERT INTO member(
					user_no	
					, member_id 
					, member_name
					, member_pw
					, member_phone
					, member_rrn
					, member_address
					, member_school
					, member_grade
					, member_seat)
	VALUES(#{userNo},#{memberId},#{memberName},#{memberPw},#{memberPhone}
		  ,#{memberRrn},#{memberAddress},#{memberSchool},#{memberGrade},#{memberSeat})

</insert>
<insert id ="insertMemberAvatar" parameterType="com.hy.dto.login.ProfileAttach">
	INSERT INTO member_avatar(
		member_no,ori_name,re_name,path)
	VALUES(#{memberNo},#{oriName },#{reName },#{path })
	

</insert>
<insert id ="insertUser" parameterType="com.hy.dto.login.User">
	INSERT INTO user(
	user_name, user_rrn,user_seat
	)
	VALUES(#{userName},#{userRrn },#{userSeat})
	

</insert>

<select id ="checkId" resultMap="memberAccount" parameterType="string">
	SELECT * 
	FROM member
	<where>
		member_id=#{memberId}
	</where>	
</select>
<select id ="checkRrn" resultMap="memberAccount" parameterType="string">
	SELECT * 
	FROM member
	<where>
		member_rrn=#{memberRrn}
	</where>	
</select>
<select id ="checkPhone" resultMap="memberAccount" parameterType="string">
	SELECT * 
	FROM member
	<where>
		member_phone=#{memberPhone}
	</where>	
</select>

<select id ="checkUserRrn" resultMap="userInfo" parameterType="string">
	SELECT * 
	FROM user
	<where>
		user_rrn=#{userRrn}
	</where>	
</select>


<select id = "searchUser" resultMap = "userInfo" parameterType ="com.hy.dto.login.User">
	SELECT *
	FROM user
	<where>
		user_rrn=#{userRrn} AND
		user_name=#{userName} 
	</where>
</select>
</mapper>