<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goalScoreMapper">

  <!-- 목표 성적 INSERT -->
  <insert id="insertGoalScore" parameterType="com.hy.dto.score.GoalScore">
    INSERT INTO goal_score (
      member_no,
      exam_type_id,
      subject_id,
      target_score,
      target_level
    )
    VALUES (
      #{memberNo},
      #{examTypeId},
      #{subjectId},
      #{targetScore},
      #{targetLevel}
    )
  </insert>
  
 <!-- 목표 성적 조회 -->
  <select id="selectGoalScoresByMember" resultType="com.hy.dto.score.GoalScore">
    SELECT
      member_no,
      exam_type_id,
      subject_id,
      target_score,
      target_level AS targetLevel
    FROM goal_score
    WHERE member_no = #{memberNo}
  </select>

</mapper>
