<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hy.mapper.score.SubjectMapper">

 <select id="selectSubjectIdByName" parameterType="string" resultType="int">
  SELECT subject_id
  FROM subject
  WHERE TRIM(subject_name) = TRIM(#{subjectName})
</select>


</mapper>
