<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.mypage.MypageMapper">
	<resultMap id ="memberAccount" type = "com.hy.dto.Member">
		<result property="memberNo"  column = "member_no"/>
		<result property="userNo"  column = "user_no"/>
		<result property="memberId"  column = "member_id"/>
		<result property="memberName"  column = "member_name"/>
		<result property="memberPw"  column = "member_pw"/>
		<result property="memberPhone"  column = "member_phone"/>
		<result property="memberRrn"  column = "member_rrn"/>
		<result property="memberAddress"  column = "member_address"/>
		<result property="memberSchool"  column = "member_school"/>
		<result property="memberGrade"  column = "member_grade"/>
		<result property="memberSeat"  column = "member_seat"/>
		<result property="memberPenalty"  column = "member_penalty"/>
		<result property="registeredAt"  column = "registered_at"/>
		<result property="activeStatus"  column = "active_status"/>
	</resultMap>
	<resultMap id = "memberProfile" type = "com.hy.dto.login.ProfileAttach">
		<result property="attachNo" column ="avatar_id"/>
		<result property="memberNo" column ="member_no"/>
		<result property="oriName" column ="ori_name"/>
		<result property="reName" column ="re_name"/>
		<result property="path" column ="path"/>
	
	</resultMap>
	<resultMap id="qnaResultMap" type="com.hy.dto.qna.Qna">
      <result property="qnaId" column="qna_id" />
      <result property="memberId" column="member_id" />
      <result property="memberName" column="member_name" />
      <result property="category" column="category" />
      <result property="title" column="title" />
      <result property="content" column="content" />
      <result property="regDate" column="reg_date" />
      <result property="modDate" column="mod_date" />
      <result property="visibility" column="visibility" />
      <result property="viewCount" column="view_count" />
      <result property="answerStatus" column="answer_status" />
	</resultMap>
	
	<select id="selectProfileAttach" resultMap="memberProfile" parameterType="_int">
		SELECT * FROM member_avatar
		WHERE member_no = #{memberNo}
			
	</select>
	<select id ="selectMember" resultMap="memberAccount" parameterType="com.hy.dto.Member">
		SELECT * FROM member
		WHERE member_no = #{memberNo}
	
	</select>
	<update id= "updateMemberPw" parameterType="com.hy.dto.Member">
		UPDATE member SET member_pw = #{memberPw}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberAddress" parameterType="com.hy.dto.Member">
		UPDATE member SET member_address = #{memberAddress}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberSchool" parameterType="com.hy.dto.Member">
		UPDATE member SET member_school = #{memberSchool}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberGrade" parameterType="com.hy.dto.Member">
		UPDATE member SET member_grade = #{memberGrade}
		WHERE member_no =#{memberNo}
	</update>
	<update id="updateMemberPhone"  parameterType="com.hy.dto.Member">
		UPDATE member SET member_phone = #{memberPhone}
		WHERE member_no =#{memberNo}
	</update>
	<update id = "updateProfileAttach" parameterType="com.hy.dto.login.ProfileAttach">
		UPDATE member_avatar 
		SET ori_name = #{oriName},
			re_name= #{reName},
			path = #{path}
		WHERE member_no =#{memberNo}
	</update>
	<delete id ="deleteMember" parameterType="_int">
		DELETE FROM member
		WHERE member_no = #{memberNo}
	</delete>
	<delete id ="deleteMemberAvatar" parameterType="_int">
		DELETE FROM member_avatar
		WHERE member_no = #{memberNo}
	</delete>
	
	<select id="selectMyQnaCount" resultType="_int" parameterType="com.hy.dto.qna.Qna">
		SELECT COUNT(*) 
		FROM qna 
		WHERE member_no = #{memberNo}
	</select>
	<select id="selectMyQnaList" resultMap="qnaResultMap" parameterType="com.hy.dto.qna.Qna">
		SELECT Q.qna_id 
			,Q.category
			,Q.title 
			,Q.content 
			,DATE_FORMAT(Q.reg_date, '%Y-%m-%d') AS reg_date
			,DATE_FORMAT(Q.mod_date, '%Y-%m-%d') AS mod_date 
			,Q.visibility
			,Q.view_count
			,Q.answer_status
			,M.member_id
			,M.member_name
		FROM qna Q 
		JOIN member M ON Q.member_no = M.member_no
		WHERE M.member_no = #{memberNo}
		ORDER BY Q.qna_id DESC
		LIMIT #{limitPageNo},#{numPerPage}
	</select>
	<select id="selectMyQnaReplyList" parameterType="_int" resultType ="com.hy.dto.qna.QnaReply">
		SELECT R.qna_id AS qnaId,
			   R.reply_check AS replyCheck
		FROM qna Q
		JOIN qna_reply R ON Q.qna_id = R.qna_id
		WHERE  Q.member_no = #{memberNo}
	</select>
	<update id ="updateReplyCheck" parameterType="_int">
		UPDATE qna_reply
		SET reply_check = 0
		WHERE qna_id= #{qnaId}
	</update>
	

</mapper>