<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.mypage.MypageMapper">
	<resultMap id ="memberAccount" type = "com.hy.dto.Member">
		<result property="memberNo"  column = "member_no"/>
		<result property="userNo"  column = "user_no"/>
		<result property="memberId"  column = "member_id"/>
		<result property="memberName"  column = "member_name"/>
		<result property="memberPw"  column = "member_pw"/>
		<result property="memberPhone"  column = "member_phone"/>
		<result property="memberRrn"  column = "member_rrn"/>
		<result property="memberAddress"  column = "member_address"/>
		<result property="memberSchool"  column = "member_school"/>
		<result property="memberGrade"  column = "member_grade"/>
		<result property="memberSeat"  column = "member_seat"/>
		<result property="memberPenalty"  column = "member_penalty"/>
		<result property="registeredAt"  column = "registered_at"/>
		<result property="activeStatus"  column = "active_status"/>
	</resultMap>
	<resultMap id = "memberProfile" type = "com.hy.dto.login.ProfileAttach">
		<result property="attachNo" column ="avatar_id"/>
		<result property="memberNo" column ="member_no"/>
		<result property="oriName" column ="ori_name"/>
		<result property="reName" column ="re_name"/>
		<result property="path" column ="path"/>
	
	</resultMap>
	
	<select id="selectProfileAttach" resultMap="memberProfile" parameterType="_int">
		SELECT * FROM member_avatar
		WHERE member_no = #{memberNo}
			
	</select>
	<select id ="selectMember" resultMap="memberAccount" parameterType="com.hy.dto.Member">
		SELECT * FROM member
		WHERE member_no = #{memberNo}
	
	</select>
	<update id= "updateMemberPw" parameterType="com.hy.dto.Member">
		UPDATE member SET member_pw = #{memberPw}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberAddress" parameterType="com.hy.dto.Member">
		UPDATE member SET member_address = #{memberAddress}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberSchool" parameterType="com.hy.dto.Member">
		UPDATE member SET member_school = #{memberSchool}
		WHERE member_no =#{memberNo}
	</update>
	<update id= "updateMemberGrade" parameterType="com.hy.dto.Member">
		UPDATE member SET member_grade = #{memberGrade}
		WHERE member_no =#{memberNo}
	</update>
	<update id = "updateProfileAttach" parameterType="com.hy.dto.login.ProfileAttach">
		UPDATE member_avatar 
		SET ori_name = #{oriName},
			re_name= #{reName},
			path = #{path}
		WHERE member_no =#{memberNo}

	</update>
	
	
	
	
	
	
	
	
	
	
	
</mapper>